@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Montserrat&display=swap');

/*Config BASE*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--background-page-color);
    color: var(--text-color);
    transition: .3s; /*For animation dark mode*/
}

h1, .profile_name, h3 {
    font-weight:500;
    margin-top: 60px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--button-text-color);
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

/*VARIABLES CSS*/
:root {
    /*Colors*/
    /*Color mode RGB(Red, Green, Blue)*/

    /*http://www.outils-web.com/page-generateur-code-couleur.asp*/
    --background-page-color: #bf6900;
    --text-color: #3d0c11;
    --background-button-color: #3d0c11;
    --background-button-color-hover: #033f63;
    --button-text-color: #b5b682;

    /*Font and typography*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --left-icon: 23%;
    --body-font: 'Merienda', cursive;
    --p-font: 'Montserrat', sans-serif;
    --h2-font-size: 2rem;
    --p-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    }

@media screen and (min-width: 968px) {
    :root {
        --left-icon: 42%;
        --h2-font-size: 3.5rem;
        --p-font-size: 1.4rem;
        --normal-font-size: 1.5rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*REUSABLE CSS CLASSES*/
.container {
    max-width: 100vmax;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*IMG*/
.img_container {
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;

    /*BANNER PICTURE*/
    background-image: url(../img/austin-neill-hgO1wFPXl3I-unsplash.jpg);
}

.pp_container {
    position: relative;
    border: 3px solid #3d0c11;
}

.pp {
    height: 250px;
    width: 250px;

    border: 6px solid #3d0c11;
    border-radius: 100%;
    margin: 0px;

    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
}


/*HEADER INFO*/
.header_infos {
    margin: 1rem;
}

.profile_name {
    margin-bottom: 1vh;
    font-size: var(--h2-font-size);
}

.profile_paragraph {
    font-size: var(--p-font-size);
}


/*NAV*/
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*MAIN*/
main{
    margin-top: 9vh;
    text-align: center;
}

/*BUTTONS*/
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .10rem;
    background-color: var(--background-button-color);
    font-family: var(--p-font);
    width: 60vw;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--background-button-color-hover);
    transform: scale(1.2);
}

/*ICON*/
.icon>*{
    color: var(--text-color);
    margin: 1rem;
    position: relative;
    left: var(--left-icon);
}

.icon>*:hover{
    color: var(--background-button-color-hover);
    transform: scale(1.2);
}

footer{
    margin: 40px 0 0 0;
    padding: 80px;
    background-color: #3d0c11;
}

footer p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--p-font-size);
    text-align: center;
    font-family: var(--p-font);
    color: #b5b682;
}